.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust column width as needed */
    grid-gap: 20px; /* Adjust gap between cards */
    padding: 20px;
}
  
  .card {
    border: 1px solid #ccc;
    text-align: center;
    height: 175px;
    display: block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .id-content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }

  .id-content img{
    width: 100px;
    height:80px;
  }

  .border-bottom{
    height: 30px;
    width: 100%;
    background-color: rgb(256,92,4);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .company-logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(256,92,4);
    margin-left: 40px;
    margin-top: 10px;
  }
  .company-logo img{
      height: 70%;
      width: 70%;
  }
  .role{
    padding: 3px;
    width: 150px;
    color: rgb(256,92,4);
  }
  .company-name{
    font-weight: 700;
    color: rgb(256,92,4);
   
  }

  .title{
    font-size: small;
    width: 140px;
    color: rgb(256,92,4);

  }

  .download-btn{
    background-color: black;
    color: white;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 1100px;
    cursor: pointer;
  }

  .employeeName{
    color: white;
    font-size: larger;
    font-weight: 600;
    letter-spacing: 0.3rem;
  }

